html, body {
    height: 100%;
}
body {
    background-color: #f4ecd8;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    margin: 0;
    width: 100%;
    box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
    position: fixed;
    top: 0;
}
.navBar {
    height: auto;   
    background-color: #f396bf; 
    margin: 0;
    padding: 20px 0;
}
.navBar ul {
    list-style-type: none;
    margin: 10px;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navBar ul a {
    margin: 0 20px;
    text-decoration: none;
    color: #062e5f;
}
.boton {
    background-color: #ee5511;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
}