body {
    background-color: #f1f8e9;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    height: auto; 
    background-color: #f1f8e9; 
    box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
    margin: 0;
    padding: 25px 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
}
.conteinerMenu {
    width: 55%;
    box-sizing: border-box; 
    display: flex;
    justify-content: flex-end;
}
.navBar {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}
.navBar ul { 
    list-style-type: none;
    margin: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li a {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
}
li a:focus-visible {
    box-shadow: 0px 0px 7px #255d00;
    outline: none;
    }
.boton a {
    background-color: #255e00; 
    color: white; 
    height: 30px;
    width: 70px;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
}
.boton a:hover {
    background-color: #558c2f;
    color: white;
}
.boton a:focus-visible {
    box-shadow: 0px 0px 7px #255d00;
    border: 1px solid white;
    outline: none;
    }
.presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    padding: 60px 0;
}
.conteinerPresentacion {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteinerPresentacion .seccionPresentacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 500px;
}
.conteinerPresentacion div {
    width: 500px;
}
.conteinerPresentacion div img {
    width: 100%;
}
h1 {
    font-family: 'Gorditas', cursive;
    color: #255d00;
    font-size: 80px;
    margin: 0;
}
p strong {
    margin: 5px;
    font-size: 40px;
    font-weight: 900;
}
.descripcion {
    margin-bottom: 40px;
    font-size: medium;
    color: grey;
    font-weight: 400;
}
.conocimientos {
    background-color: #c5e1a5;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.introConocimientos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 45px;
    font-weight: 900;
}
.introConocimientos p {
    width: 50%;
    font-size: 18px;
    font-weight: 400;
    color: grey;
    text-align: center;
}
.botonesConocimiento { 
    max-width: 60%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.botonesConocimiento a {
    text-decoration: none;
    background-color: #f1f8e9;
    color: #255d00;
    font-size: 30px;
    height: 260px;
    width: 260px;
    border: 1px solid #bec5b7;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.botonesConocimiento a:hover {
    border: 1px solid #255d00;
}
.botonesConocimiento a:focus-visible {
    box-shadow: 0px 0px 7px #255d00;
    outline: none;
}
.botonesConocimiento a i {
    font-size: 100px;
}
.frase {
    color: white;
    margin: 0;
    background-color: #255d00;
    width: 100%;
    padding: 110px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.frase i {
    font-size: 80px;
    margin-bottom: 60px;
}
.frase p {
    width: 60%;
    font-size: 18px;
    font-weight: 400;
}
.frase .autorFrase {
    font-size: 45px;
    font-weight: 900;
    color: white;
}
.proyectos {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.introProyecto {
    text-align: center;
    width: 20%;
}
.conteinerTarjetasProyect {
    width: 70%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
}
.tarjetaProyect {
    height: 350px;
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #bec5b7;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    box-shadow: -1px -1px 16px -2px rgba(0,0,0,0.10);
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.tarjetaProyect:hover {
    border: 1px solid #255d00;
}
.tarjetaProyect:focus {
    box-shadow: 0px 0px 7px #255d00;
}
.tarjetaProyect:focus-visible {
    box-shadow: 0px 0px 7px #255d00;
    outline: none;
}
.Contacto {
    background-color: #c5e1a5;
    margin: auto;
    padding: 200px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteinerContacto {
    background-color: #f1f8e9;
    width: 60%;
    padding: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteinerContacto section {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
footer {
    color: white;
    background-color: #255d00;
    padding: 40px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer ul {
    padding: 0;
    list-style-type: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconos ul li a {
    color: white;
    font-size: 20px;
    width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid white;
}
footer ul li a:hover {
    color: #255d00;
    background-color: white;
}
.barraMenuFooter nav ul li a{
    margin: 10px;
    color: white;
}
footer p {
    text-align: center;
    margin: 40px 0;
}



@media screen and (max-width: 600px) {
    header {
        display: none;
    }
    .presentacion {
        width: 100%;
    }
    .conteinerPresentacion {
        max-width: 600px;
        min-width: 400px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .conteinerPresentacion .seccionPresentacion {
        justify-content: space-around;
        align-items: center;
    }
    .conteinerPresentacion div img {
        width: 100%;
    }
    .botonesConocimiento {
        max-width: 100%;
    }
    .botonesConocimiento a .botonCono {
        height: 100px;
        width: 100px;
    } 
    .frase p {
        width: 100%;
    } 
    footer .barraMenuFooter {
        display: none;
    }  
    footer p {
        font-size: small;
        font-weight: 500;
    }
}
@media screen and (max-width: 400px) {
    header {
        display: none;
    }
    .presentacion {
        width: 100%;
    }
    .conteinerPresentacion {
        max-width: 400px;
        min-width: 100px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .conteinerPresentacion .seccionPresentacion {
        justify-content: space-around;
        align-items: center;
    }
    .conteinerPresentacion div img {
        width: 100%;
    }
    .botonesConocimiento {
        max-width: 100%;
    }
    .botonesConocimiento a .botonCono {
        height: 100px;
        width: 100px;
    }
    .frase p {
        width: 100%;
    } 
    footer .barraMenuFooter {
        display: none;
    } 
    footer p {
        font-size: small;
        font-weight: 500;
    } 
}