html, body {
    height: 100%;
}
body {
    background-color: #f4ecd8;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    height: auto; 
    background-color: #f396bf; 
    box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
}
.conteinerMenu {
    width: 100%;
    max-width: 1300px;
    box-sizing: border-box; 
    display: block;
}
.navBar {
    margin: 0;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
}
.navBar ul { 
    list-style-type: none;
    margin: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar ul li a {
    margin: 0 20px;
    text-decoration: none;
    color: #062e5f;
}
.boton a {
    background-color: #ee5511;  
    height: 30px;
    width: 70px;
    padding: 10px 20px;
    border-radius: 25px;
}
ul .boton a:hover {
    background-color: #062e5f;
    color: #f4ecd8;
}

@media screen and (max-width: 500px) {
    header {
        display: none;
    }
    
}
@media screen and (max-width: 400px) {
    header {
        display: none;
    }
    
}